<div class="span9" opacity="0.4" filter: "alpha(opacity=60)" id="achievements" style="padding:0; margin:0; position:static; top:0px;">
	<h2 id="achievements" style="padding-top: 0px"><b>Awards and Achievements</b></h2>
</div>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">National Football Foundation Scholar Athlete</a>
				<br>
				<p>I was unanimously selected as a recipient of the 2016 Scholar-Athlete Award by the Jack Grinold Eastern Massachusetts Chapter of the National Football Foundation. As one of 33 local athletes selected for this honor, I exemplify the following traits as stated by <a href="http://www.grinoldchapter.com" target="_blank">the Chapter</a>...
					<blockquote><i>The High School Scholar-Athlete Awards are given to those graduating seniors in the Chapter footprint who have achieved excellence on the gridiron, in the classroom, and in the community.</i>
					</blockquote>
					You can view a press release of this honor <a href="http://www.bostonherald.com/sports/high_school/high_school_insider/2016/03/high_school_football_scholar_athlete_award_winners" target="_blank">here</a>.
				</p>
			</td>
		</tr>
	</tbody>
</table>
<table>
    <tbody>
    <tr>
        <td>
            <a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Massachusetts State Student-Athlete of the Month</a>
            <br>
            <p>In October of my senior year, I was selected for this honor by the Massachusetts Interscholastic Athletic Association (MIAA). This award demonstrates my diversity between both athletics and academics throughout my career. A press release of this award can be found <a href="http://www.miaa.net/contentm/easy_pages/view.php?sid=38&page_id=176" target="_blank">here</a>.
            </p>
        </td>
    </tr>
    </tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Reuben A. and Lizzie Grossman Award for Leadership and Service</a>
				<br>
				<p>Selected as the male award winner from Weymouth High School for my comittment to community leadership and outreach.</p>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">National Honor Society - President</a>
				<br>
				<li><p>As a result of my number one class ranking, I was selected to be a part of the Weymouth High School Chapter of the National Honor Society, where I was elected President. My fellow peers and I are honored to be recognized in such an historic organization. I am responsible for organizing all meetings and community outreach events conducted by the Chapter.
				</p></li>
				<li><p>Responsible for producing a short <a href="https://youtu.be/BU2zb-5FuDo" target="_blank">National Honor Society film</a> to share with our school community</p></li>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">AP Scholar with Distinction</a>
				<br>
				<p><i><a href="https://professionals.collegeboard.com/k-12/awards/ap-scholar" target="_blank">Per the College Board website...</a></i>
				</p>
				<blockquote>
					<p><i>Granted to students who receive an average score of at least 3.5 on all AP Exams taken, <b>and</b> scores of 3 or higher on five or more of these exams</i></p>
				</blockquote>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Two-Time Bay State Conference All-Star, Football</a>
				<br>
				<p>In both my junior and senior seasons, I was named a first team all-conference selection for outstanding performance on both sides of the ball.
				</p>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float:left;">
					<a>
						<img class="full-image" src="/SAOM Picture.jpg" alt="SAOM Picture" border="0" width="140" style="PADDING-RIGHT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px;" float="left"
						/>
					</a>
				</div>
				<div>
					<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Weymouth High School Student-Athlete of the Month</a>
					<br>
					<p>In the fall of my junior year, October 2014, I was unanimously named the Weymouth High School Student-Athlete of the Month by coaches, teachers and administration across the district. This recognition provided me with <a href="http://weymouth.wickedlocal.com/article/20141009/Sports/141006368" target="_blank">a press opportunity</a> in local media outlets to share my dual passion for studies and sports.
					</p>
				</div>
			</td>
		</tr>
	</tbody>
</table>