<div class="span9" opacity="0.4" filter: "alpha(opacity=60)" id="skills" style="padding:0; margin:0; position:static; top:0px;">
<h2 id="cs" style="padding-top: 0px">Computer Science Skills</h2>
</div>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float:right;">
					<a>
						<img src="/logoTransparent.gif" 
						alt="Wildcat Picture" border="0" width="110" style="PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; align:right;"
						/>
						<a href="https://wildcatconnect.com/download/ios" target="_blank"><img src="/appStore.png"
							alt="App Store Picture" border="0" width="110" style="PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; align:right;"
							/></a>
					</a>
				</div>
				<ul>
					<li><p>Founder and lead developer of <a href="https://wildcatconnect.com" target="_blank">“WildcatConnect”</a> mobile productivity and alert application that replaced outdated announcement and communication methods at Weymouth High School</p></li>
					<ul>
						<li><p>2,500+ active installations</p></li>
						<li><p>Uses both iOS and web Node.js clients</p></li>
						<li><p>Conducting formation of LLC, monetization and expansion to other local high school communities</p></li>
					</ul>
					<li><p>Two summers of full stack software engineering at LifeYield, LLC</p>
					<ul id="lywork">
						<li><p>Implemented in-house API service to monitor remote cloud infrastructure security and stability</p></li>
						<li><p>Facilitated 40% optimization of all web service calls through XML processing and serialization</p></li>
						<li><p>Integrated load-balanced caching and distributed locking mechanism across replicated web instances</p></li>
						<li><p>Various front end enhancements and bug fixes for improved user interface, while keeping MVC intact</p></li>
					</ul>
					<li><p>Experience and comfort with diverse languages and environments, including Java, Python, AWS, JavaScript, Node.js, C#, Objective-C, HTML, CSS, JQuery, XML, XSLT, PHP, SQL, Bash, Express, MBaaS, PaaS, DBaaS, Heroku, GIT and SVN</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>