<div class="span9" opacity="0.4" filter: "alpha(opacity=60)" id="skills" style="padding:0; margin:0; position:static; top:0px;">
<h2 id="cs" style="padding-top: 0px"><b>Computer Science Experience</b></h2>
</div>
<table>
	<tbody>
		<tr>
			<td></td>
				<ul>
                    <li><p><a href="https://www.media.mit.edu/groups/changing-places/overview/" target="_blank">Changing Places CityScope Research Team</a></p></li>
                    <p><i>MIT Media Lab, Massachusetts Institute of Technology (Cambrige, MA)</i></p>
                    <ul>
                        <li><p>Optimizing transportation models in dense urban areas through node search and analysis</p></li>
                        <li><p>Implemented dynamic matrix generator that can create city layouts as simulation learning sets</p></li>
                        <li><p>Eventual goal of creating machine learning algorithm to recognize patterns in road layout to predict traffic activity</p></li>
                    </ul>
                    <div class="logo" style="float:right;">
                        <a>
                            <img src="/logoTransparent.gif"
                                 alt="Wildcat Picture" border="0" width="110" style="PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; align:right;"
                            />
                            <a href="https://wildcatconnect.com/download/ios" target="_blank"><img src="/appStore.png"
                                                                                                   alt="App Store Picture" border="0" width="110" style="PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px; align:right;"
                                /></a>
                        </a>
                    </div>
					<li><p><a href="https://wildcatconnect.com" target="_blank">WildcatConnect</a> Mobile Productivity App</p></li>
					<p><i>Weymouth High School (Weymouth, MA)</i></p>
					<ul>
						<li><p>Founder and lead developer</p></li>
						<li><p>Replaced outdated announcement and communication methods at Weymouth High School</p></li>
						<li><p>5,000+ current installations</p></li>
						<li><p>Uses both iOS and web Node.js clients</p></li>
					</ul>
					<li><p>Full Stack Software Engineer Intern</p>
					<p><i><a href="https://www.lifeyield.com/" target="_blank">LifeYield, LLC</a> (Boston, MA)</i></p>
					<ul id="lywork">
						<li><p>Implemented in-house API service to monitor remote cloud infrastructure security and stability</p></li>
						<li><p>Facilitated 40% optimization of all web service calls through XML processing and serialization</p></li>
						<li><p>Integrated load-balanced caching and distributed locking mechanism across replicated web instances</p></li>
						<li><p>Various front end enhancements and bug fixes for improved user interface, while keeping MVC intact</p></li>
					</ul>
					<li><p><i>Languages and Environments:</i> Java, Python, AWS, JavaScript, Node.js, C#, Objective-C, HTML, CSS, JQuery, XML, XSLT, PHP, SQL, Bash, Express, MongoDB, MBaaS, PaaS, DBaaS, Heroku, GIT, SVN</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>