<section id="error">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Error</h2>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <% if (model.error.code == 404) { %>
                <p>We were unable to find the requested resource at <b><%= model.error.url %></b>.</p>
                <p>Please double check your URL, or simply head <a href="/">home</a>.</p>
                <% } else if (model.error.code == 401) { %>
                <p>You do not have permission to access <%= model.error.url %> on this server.</p>
                <p>Please head back <a href="/">home</a>.</p>
                <% } else if (model.error.code == 500) { %>
                <p>An internal server error occurred while trying to access <%= model.error.url %>.</p>
                <p>Please head back <a href="/">home</a>.</p>
                <% } %>
            </div>
        </div>
    </div>
</section>