<div class="span9" opacity="0.4" filter: "alpha(opacity=60)" padding="0" margin="0" id="experiences" style="padding:0; margin:0; position:static; top:0px;">
<h2 id="experiences" style="padding-top: 0px">Experiences</h2>
</div>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo">
					<a>
						<img src="/LY Logo.png" 
						alt="LY Logo" border="0" width="200" style="PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="right"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Software Engineer Intern, LifeYield, LLC.</a>
				<br>
				<font size="3"><p><i><a href="http://www.lifeyield.com/" target="_blank">LifeYield</a> develops and provides software for advisors and their firms to deliver to clients true Coordinated Account and Income Management, which helps minimize taxes during the accumulation, transition and withdrawal phases. LifeYield's management team has deep experience building easy-to-use, innovative financial software solutions.</i></p></font>
				<p><b>View information for year <a href="#ly2015" data-toggle="collapse">2015</a> or <a class="anchor" href="#lywork">2016</a>. </b></p>
				<div id="ly2015" class="collapse">
					<h4>2015 Internship</h4>
					<ul>
						<li><p>In the summer before my senior year, I completed an intensive paid internship at Boston-based financial computing firm LifeYield</p></li>

						<li><p>Given task in a four-week timespan to complete a platform release of a back-end application for request handling on a SOAP XML facade service </p></li>

						<li><p>Allowed me to apply my knowledge of recursive definitions and file parsing while also picking up many new skills, including cross-thread UI callbacks, asynchronous iteration and improved model-view-controller separation</p></li>

						<li><p>Took direction along the way from supervising developers and adapted as necessary to dynamic feedback</p></li>

						<li><p>Presented final working application to supervisors in the Development and QA departments, as well as LifeYield's CEO and CTO</p></li>

						<li><p>I compiled <a href="/[PDF] Testing Suite 1.0 Release Notes.pdf" target="_blank">release notes</a> for future reference, as well as <a href="https://github.com/kalyons/opensource.lifeyield" target="_blank">an OpenSource release</a> of select code definitions.</p></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Massachusetts State Student-Athlete of the Month</a>
				<br>
				<p>In October of my senior year, I was selected for this honor by the Massachusetts Interscholastic Athletic Association (MIAA). This award demonstrates my diversity between both athletics and academics throughout my career. A press release of this award can be found <a href="http://www.miaa.net/contentm/easy_pages/view.php?sid=38&page_id=176" target="_blank">here</a>.
				</p>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<div class="logo">
			<a>
				<img src="/Football Picture.jpg" 
				alt="Football Picture" border="0" width="150" style="PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="left"
				/>
			</a>
		</div>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Varsity Football - Captain</a>
				<br>
				<ul>
					<li><p>Senior starting captain at wide receiver and defensive back</p></li>
					<li><p>Thrive upon the physical and mental aspect of the game, making lasting friendships along the way</p></li>
				</ul>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<br>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float: right;">
					<a>
						<img src="/Basketball Picture.jpg" 
						alt="Basketball Picture" border="0" width="100" style="PADDING-LEFT: 5px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px" align="right"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Varsity Basketball - Captain</a>
				<br>
				<ul>
					<li><p>Senior captain, shooting guard</p></li>
					<li><p>Coached the youth in my community in grades 2-4 for multiple years, giving back to a cause that means so much to me</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">MIT Leadership Training Institute</a>
				<br>
				<ul>
					<li><p>Recommended and accepted to a selective leadership program on the Cambridge campus of MIT in the spring of my junior year</p></li>

					<li><p>12-week program taught by current MIT undergraduate students that allows high-school students to refine leadership skills and develop a service-minded initiative in their respective communities</p></li>

					<li><p>As a result, founded and implemented the Beyond the Code program</p></li>

					<li><p>Selected as one of only three students to <a href="https://www.youtube.com/watch?v=odsx77Tl4ow" target="_blank">present my findings</a> during the closing ceremonies in one of the largest lecture halls on campus</p></li>

					<li><p>Also had to compile <a href="/[PDF] Final Project Proposal Outline.pdf" target="_blank">elaborate documentation</a> for this project</p></li>
				</ul>
				<br>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Beyond the Code</a>
		</tr>
		<tr>
			<td align="center">
				<div class="logo">
					<a>
						<img src="/BTC Picture A.jpg" 
						alt="BTC Picture A" border="0" width="700" style="PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; align:middle"
						/>
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="logo">
					<a>
						<img src="/BTC Picture B.jpg" 
						alt="BTC Picture B" border="0" width="250" style="PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="right"
						/>
					</a>
				</div>
				<ul>
					<li><p>Unique computer science mentorship program that pairs knowledgeable and passionate high school students with youth to teach the basics of computer programming and logic</p></li>
					<li><p>Educated 70 students to date, across 3 Weymouth Public Schools, in grades 3-8</p></li>
					<li><p>Recruited and trained 10+ high-school student mentors to support the program</p></li>
					<li><p>Worked alongside numerous district faculty, including the Director of Instructional Technology, Community Relations Liaison and principals at each of the three schools</p></li>
					<li><p>Presented to town administration, including the Weymouth School Committee, to raise awareness and advocate for STEM programs</p></li>
					<li><p>Plan in place for upcoming years to create a sustainable, replicable mentorship program</p></li>
				</ul>
				<p><i>View our <a href="https://sites.google.com/a/weymouthps.org/beyond-the-code/" target="_blank">website</a>, <a href="https://www.youtube.com/watch?v=M7I9jn4Clp4&feature=youtu.be" target="_blank">Spring 2015 film</a> and <a href="https://sites.google.com/a/weymouthps.org/beyond-the-code/resources/spring-2015-resources" target="_blank">OpenSource curriculum</a>.</i></p>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo">
					<a>
						<img src="/STEM Picture.jpg" 
						alt="STEM Picture" border="0" width="200" style="PADDING-RIGHT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="left"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Advocate for STEM Education and Exposure</a>
				<br>
				<font size="2"><p><i>STEM is an acronym for Science, Technology, Engineering and Mathematics.</i></p></font>
				<p>As a result of my work with Beyond the Code, I have been afforded several unique opportunities to share my findings and continue the STEM discussion in professional forums:</p>
				<ul> 
					<li><p>Along with two female STEM peers, facilitated an hour-long CS workshop to a dozen female students in grades 5-8</p>
					</li>
					<li><p>I spoke in front of the Weymouth School Committee to discuss the impact of Beyond the Code within the larger district-wide effort to enhance STEM education for students at all ages. This <a href="https://www.youtube.com/watch?v=vdCZZagTQ40&feature=youtu.be" target="_blank">public appearance</a> allowed STEM education to be discussed in a new light for the community.</p>
					</li>
					<li><p>Selected by the Director of Instructional Technology of the Weymouth Public Schools as a student advisor for the local STEM Community Compact, where I emphasized student self-advocacy as a catalyst for creating new opportunities</p>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<td>
				<div class="logo">
					<a>
						<img src="/Technip Picture.jpg" 
						alt="LY Logo" border="0" width="200" style="PADDING-RIGHT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="left"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Job Shadow, Technip Research Center</a>
				<br>
				<font size="3"><p><i><a href="http://www.technip.com/en">Technip</a> is a world leader in project management, engineering and construction for the energy industry.  With plants located worldwide, Technip staff seeks to develop innovated solutions to pressing energy needs.</i></p></font>
				<ul>
					<li><p>Completed a job shadow at local pilot plant to gain more experience in chemical engineering field</p></li>
					<li><p>Work included complete tour, sample gas chromatography   analysis, discussion of CS applications and planning for college coursework</p></li>
					<li><p>Provided clear link between computer science and chemical engineering fields that are so appealing to me</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table>
	<tbody>
		<tr>
			<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Math Team - Captain</a>
		</tr>
		<tr>
			<td align="center">
				<div class="logo">
					<a>
						<img src="/MT Picture.jpg" 
						alt="MT Picture" border="0" width="400" style="PADDING-RIGHT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px; align:middle"
						/>
					</a>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<ul>
					<li><p>Awarded the 2015 Gold Medal for High Scorer, and completed a perfect score in a critical meet to help my team secure a victory</p></li>
					<li><p>2015 divisional champions, a first for the program in 15 years</p></li>
					<li><p>Coordinating several new opportunities for my team to stay sharp and get the recognition we deserve, including those <a href="https://www.facebook.com/groups/240483296106262/" target="_blank">on social media</a> and <a href="/[PDF] 2015_Summer_News_Article.pdf" target="_blank">in the press</a>, as well as attending new meets like the <a href="https://www.wpi.edu/News/Events/MathMeet/" target="_blank">Worcester Polytechnic Institute Invitational Mathematics Meet</a> and the <a href="http://hmmt.mit.edu/" target="_blank">Harvard-MIT Mathematics Tournament</a></p></li>
					<li><p>Enjoy the mental challenge and experience of working in a non-athletic environment with highly-motivated academic peers<p></li>
					<li><p>Responsible for producing a short <a href="https://www.youtube.com/watch?v=ctvqXnNjzRg" target="_blank">Math Team film</a> to share with our school community</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table id="sv">
	<tbody>
		<tr>
			<td>
				<div class="logo">
					<a>
						<img src="/SV Picture.jpg" 
						alt="SV Picture" border="0" width="200" style="PADDING-RIGHT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="left"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Student Voice - Director</a>
				<br>
				<ul>
					<li><p>Recruited by Weymouth High School Principal to head the Student Voice program during junior and senior years</p></li>
					<li><p>Critical group on the Weymouth High School campus that seeks to empower students on a number of issues and encourage practical problem solving to meet administrators with resolution</p></li>
					<li><p>Facilitate discussion and topics at annual Student Voice Summit, to come in fall of 2016</p></li>
				</ul>
				<p><i>We have <a href="https://twitter.com/StudentVoiceWHS" target="_blank">a social media presence</a> and <a href="http://www.weymouthschools.org/weymouth-high-school/family-students/pages/student-voice" target="_blank">a developing website</a>.</i>
				</p>
			</td>
		</tr>
	</tbody>
</table>
<table id="rotary">
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float: right;">
					<a>
						<img src="/Rotary Picture.jpg" 
						alt="Rotary Picture" border="0" width="300" style="PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="right"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Rotary International Involvement</a>
				<br>
				<p>Local Rotary organizations highlight the best of citizenship and community outreach across all social scenes. Their motto of "Service Above Self" certainly resounds with me each and every day.</p>
				<ul>
					<li><p>Chosen to attend the annual Rotary Youth Leadership Awards (RYLA), where I further enhanced my leadership training and self-confidence, while learning the true nature of teamwork</p>
					</li>
					<li><p>Invited to return to RYLA next Spring as a Student Leader as a result of my enthusiasm for the program</p>
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table id="freshman">
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Freshman Student Ambassador</a>
				<br>
				<p>During my junior and senior years, I oversaw a group of approximately thirty incoming freshman to make a smooth transition between middle and high school life. 
				</p>
			</td>
		</tr>
	</tbody>
</table>
<table id="vip">
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float: left;">
					<a>
						<img src="/VIP Picture.jpg" 
						alt="VIP Picture" border="0" width="200" style="PADDING-RIGHT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 0px" align="left"
						/>
					</a>
				</div>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Volunteers in Practice (VIP) Organization</a>
				<br>
				<ul>
					<li><p>Two-year member of the Weymouth High School Volunteers in Practice organization, which seeks to celebrate the most outstanding students who work diligently in the realm of community outreach</p></li>
					<li><p><a href="https://www.youtube.com/watch?v=buGA8knNEsM" target="_blank">Served as a lead concierge</a> for my Alma Mater elementary school in a recent town-wide field day, again giving back in a profound way for youth fulfillment</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table id="tutoring">
	<tbody>
		<tr>
			<td>
				<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Peer Tutoring</a>
				<ul>
					<li><p>Through teacher recommendations and word of mouth, I have assisted over a dozen students ranging from grades 5-11 in many core academic topics, including multi-level math curricula, history and chemistry</p></li>
					<li><p>Every peer who I work with has shown statistical improvement in test scoring.</p></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>
<table id="so">
	<tbody>
		<tr>
			<td>
				<div class="logo" style="float: right;">
					<a>
						<img src="/SO Picture.jpg" 
						alt="SO Picture" border="0" width="250" style="PADDING-LEFT: 25px; PADDING-BOTTOM: 5px; PADDING-TOP: 10px" align="right"
						/>
					</a>
				</div>
				<div>
					<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Special Olympics Volunteerism</a>
					<br>
					<ul>
						<li><p>Four-year volunteer</p></li>
						<li><p>Worked in a leadership capacity to ensure a fun and rewarding time for all participants</p></li>
					</ul>
					<a style="font-family: &#39;Rockwell Extra Bold&#39;, sans-serif; font-size: 1.35em; color: #561838;">Best Buddies Support</a>
					<br>
					<ul><li><p>As part of my two years of service, raised funds for the Weymouth Best Buddies chapter through numerous community events</p>
					</li><li><p>Connections made here, as well as those through volunteerism in the Special Olympics, are a vital aspect of my high school career.</p></li></ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>