<footer class="footer-distributed">
	<% var now = new Date(); var year = now.getFullYear(); %>
	<hr>
	<div class="desktop-only">
		<div class="column left">
			<p>&copy; <%= year %> Kevin Lyons. All rights reserved.</p>
		</div>
		<div class="column centered">
			<a href="https://twitter.com/kevinlyons11" target="_blank"><img src="/twitter.png" alt="GitHub Picture" width="38px" style="padding-bottom:10px;"></a>
			<a href="https://github.com/kalyons11/web" target="_blank"><img src="/github.png" alt="GitHub Picture" width="32px" style="padding-bottom:10px;"></a>
			<a href="https://www.facebook.com/kevin.lyons11" target="_blank"><img src="/facebook.png" alt="GitHub Picture" width="38px" style="padding-bottom:10px;"></a>
		</div>
		<div class="column right">
			<p>Updated <%= model.configurations.updated %></p>
		</div>
	</div>
	<div class="phone-only">
		<div class="centered">
			<p>&copy; <%= year %> Kevin Lyons. All rights reserved.</p>
		</div>
	</div>
</footer>