<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Home · Kevin Lyons</title>
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
<link rel="shortcut icon" HREF="/favicon.ico" type="image/ico">
<link rel="icon" href="/favicon.png" type="image/png">
<link rel="stylesheet" href="/css/footer-distributed.css">