<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal website of Kevin Andrew Lyons.">
    <meta name="author" content="Kevin Lyons">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Kevin Lyons</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'>
    <link rel="shortcut icon" HREF="/favicon.ico" type="image/ico">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/footer-distributed.css">

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/freelancer.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/custom.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/font1.css" rel="stylesheet" type="text/css">
    <link href="/css/font2.css" rel="stylesheet" type="text/css">

</head>