<nav id="stickyNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Kevin Lyons · Massachusetts Institute of Technology</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="mailto:kalyons@mit.edu">kalyons@mit.edu</a></li>
			</ul>
	</div>
</nav>