<div id="mainRow" class="row">
	<div class="col-sm-8">
		<% include ./topIntro %>
		<div class="span9" style="padding:0, margin:0">
			<h3><a href="#cs">Computer Science Experiences</a> | <a href="#experiences">Extracurricular Work</a> | <a href="#achievements">Awards and Achievements</a></h3>
			<hr>
			<% include ./cs %>
			<hr>
			<% include ./experiences %>
			<hr>
			<% include ./achievements %>
		</div>
	</div>
	<div id="rightColumn" class="col-sm-2">
		<% include ./rightBar %>
	</div>
</div>