<header>
    <div class="container" style="padding-bottom:0px;">
        <div class="row">
            <div class="col-lg-5 top-img">
                <img class="img-responsive" src="/profile.jpeg" alt="" style="max-width:270px; border-radius:35px;">
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacer">
                    <br>
                </div>
                <div class="intro-text">
                    <span class="name">Kevin Lyons</span>
                    <hr class="star-primary">
                    <span class="skills">Software Engineer</span>
                    <br><br>
                    <span class="skills">Student Athlete</span>
                    <br><br>
                    <span class="skills">Community Leader</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>My name is Kevin Lyons, a member of the Class of 2020 at <a target="_blank" href="http://web.mit.edu">MIT</a> in Cambridge, Massachusetts. I have created this site to highlight my resume of academic, professional, and extracurricular accomplishments. A bit about me:</p>
                <ul>
                    <li><p>Self-motivated, dedicated and intellectually curious student, athlete, volunteer and young professional eager to take advantage of the many opportunities offered in higher education</p></li>
                    <li><p>Focused on building scalable architectures, data science and machine learning</p></li>
                    <li><p>Strong history of volunteer work with proven leadership skills in community programs</p></li>
                    <li><p>Passionate about learning and making a positive impact on my community</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="academics" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Academics</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <h3>Massachusetts Institute of Technology '20</h3>
                <p>Cambridge, MA</p>
                <ul>
                    <li><p>Pursuing B.S. in <a href="https://www.eecs.mit.edu/" target="_blank">Computer Science</a>, minor in <a href="http://mitsloan.mit.edu/undergrad/15-2-business-analytics/" target="_blank">Business Analytics</a></p></li>
                    <li><p>4.8 cumulative GPA (5.0 scale)</p></li>
                    <li><p>Current CS/Business courses (Spring 2018):</p>
                        <ul>
                            <li><p><a href="http://web.mit.edu/6.031" target="_blank">6.031 Elements of Software Construction</a></p></li>
                            <li><p><a href="https://courses.csail.mit.edu/6.UAT/info.php" target="_blank">6.UAT Oral Communication</a></p></li>
                            <li><p>15.053: Optimization Methods in Business Analytics</p></li>
                        </ul>
                    </li>
                    <li><p>For a list of all MIT courses I have taken to date, click <a href="/courses" target="_blank">here</a>.</p></li>
                </ul>
            </div>
            <div class="col-lg-2 text-center">
                <img class="img-responsive img-responsive-side" src="/mit.png" alt="">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3>Weymouth High School '16</h3>
                <p>Weymouth, MA</p>
                <ul>
                    <li><p>Valedictorian of 473 Students, 4.9 GPA</p></li>
                    <li><p>National Honor Society Chapter President</p></li>
                    <li><p>Senior captain of:</p></li>
                    <ul>
                        <li><p>Varsity Football</p></li>
                        <li><p>Varsity Basketball</p></li>
                        <li><p>Math Team</p></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="professional" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="h2-special">Professional</h2>
                <hr class="star-primary">
            </div>
        </div>
        <!--https://eng.uber.com/-->
        <div class="row">
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/uber.jpg" alt="Uber" width="95%" style="border-radius: 35px;">
            </div>
            <div class="col-lg-7">
                <h3><a href="https://eng.uber.com" target="_blank">Uber Engineering</a></h3>
                <p><b>San Francisco, CA</b></p>
                <p>Software Engineer (May 2018 - August 2018)</p>
                <ul>
                    <li><p>More information to come in Spring 2018</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="http://professional.mit.edu" target="_blank">MIT Professional Education</a></h3>
                <p><b>Cambridge, MA</b></p>
                <p>Teaching Assistant (December 2017 - Present)</p>
                <ul>
                    <li><p>Coordinate coursework for professional-focused <a href="https://mitxpro.mit.edu/courses/course-v1:MITxPRO+DSx+1T2018/about" target="_blank">data science and analytics course</a></p></li>
                    <li><p>Monitor course forum to respond to student questions and troubleshoot technical issues</p></li>
                    <li><p>Assist students with understanding machine learning and data analytics fundamentals</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/mitxpro.png" alt="MITx">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/philips.png" alt="" width="95%">
            </div>
            <div class="col-lg-7">
                <h3><a href="http://www.philips.com/content/corporate/en_AA/research/locations/cambridge-north-america.html" target="_blank">Philips Acute Care Solutions Team</a></h3>
                <p><b>Cambridge, MA</b></p>
                <p>Research Software Engineer Intern (May 2017 - August 2017)</p>
                <ul>
                    <li><p>Working with deep learning team to analyze CNN use case in lung cancer detection/prediction</p></li>
                    <li><p>Named contributor on invention disclosure for ML-focused physician support system</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://www.media.mit.edu/groups/city-science/overview" target="_blank">Changing Places CityScience Research Team</a></h3>
                <p><b>Cambridge, MA</b></p>
                <p>Research Software Engineer (September 2016 - August 2017)</p>
                <ul>
                    <li><p>Optimizing transportation models in dense urban areas through graph search and analysis</p></li>
                    <li><p>Implemented dynamic matrix generator that can create city layouts as simulation learning sets</p></li>
                    <li><p>Using <a href="https://github.com/mitmedialab/CityMatrixSim" target="_blank">agent-based modeling</a> to predict job delivery rates and road traffic, among other metrics</p></li>
                    <li><p>Developed CNN to learn traffic patterns and optimize layouts for better urban planning</p></li>
                    <li><p>Using multi-criterion optimization algorithm to provide city recommendations for users</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/media.png" alt="">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/logoTransparent.gif" alt="">
                <a href="https://wildcatconnect.com/download/ios" target="_blank"><img class="img-responsive img-responsive-side" src="/appStore.png" alt=""></a>
            </div>
            <div class="col-lg-7">
                <h3><a href="https://wildcatconnect.com" target="_blank">Wildcat Connect Mobile Productivity App</a></h3>
                <p><b>Weymouth, MA</b></p>
                <p>Founder, Lead Developer (Summer 2015 - Present)</p>
                <ul>
                    <li><p>Replaced outdated announcement and communication methods at Weymouth High School</p></li>
                    <li><p>6,000+ current installations, 75+ current faculty users</p></li>
                    <li><p>Using both iOS and Node.js web clients with MongoDB/AWS instances for uptime/scalability</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://www.lifeyield.com" target="_blank">LifeYield, LLC</a></h3>
                <p><b>Boston, MA</b></p>
                <p>Full Stack Software Engineer Intern (Summer 2015 and 2016)</p>
                <ul>
                    <li><p>Implemented in-house API service to monitor remote cloud infrastructure security and stability</p></li>
                    <li><p>Facilitated 40% optimization of all web service calls through XML processing and serialization</p></li>
                    <li><p>Integrated load-balanced caching and distributed locking mechanism across replicated web instances</p></li>
                    <li><p>Various front end enhancements and bug fixes for improved user interface, while keeping MVC structure intact</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/ly.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="activities" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Activities</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a target="_blank" href="http://lti.mit.edu">MIT Leadership Training Institute</a></h3>
                <p>Project Mentor for High School Students</p>
                <ul>
                    <li><p>Participated in the same program when I was in high school</p></li>
                    <li><p>Created community service initiaive in my town - computer science mentorship program for students in grades 3-8 in Spring 2015</p></li>
                    <li><p>Selected to <a href="https://www.youtube.com/watch?v=odsx77Tl4ow" target="_blank">present my findings</a> on campus</p></li>
                    <li><p>Invited back to <a href="https://www.youtube.com/watch?v=Qv4GwrO1Vo0" target="_blank">speak about the program</a> after MIT acceptance</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/lti.png" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/dke.png" alt="">
            </div>
            <div class="col-lg-7">
                <h3><a target="_blank" href="https://www.dke.mit.edu">Delta Kappa Epsilon Fraternity</a></h3>
                <p>November 2016 - Present</p>
                <ul>
                    <li><p>Served as House Community Service Chair, January - May 2017</p></li>
                    <li><p>Responsible for coordinating events for charitable service in the greater MIT community and beyond</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a target="_blank" href="http://www.mitathletics.com/information/SAAC/index">MIT Student Athlete Advisory Committee</a></h3>
                <p>Undergraduate Volunteer (September 2016 - Present)</p>
                <ul>
                    <li><p>Help to organize several campus fundraisers, including Breast Cancer Awareness Weekend</p></li>
                    <li><p>Provide input and feedback regarding the student-athlete experience at MIT</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/beaver.png" alt="">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/football.png" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7">
                <h3><a target="_blank" href="http://www.mitathletics.com/sports/m-footbl/2016-17/bios/lyons_kevin_empz">MIT Varsity Football</a></h3>
                <p>Defensive Back/Linebacker/Teams Player (August 2016 - Present)</p>
                <ul>
                    <li><p>Selected to <a href="http://www.newmacsports.com/sports/fball/2017-18/releases/20171108rnm7m5" target="_blank">2017 NEWMAC Academic All-Conference Team</a></p></li>
                    <li><p>Selected as a member of the Players' Council for my class</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resume and Contact</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Resume</h3>
                <p>You can access a copy of my latest resume <a target="_blank" href="/resume.pdf">here</a>.<p>
                <h3>Contact</h3>
                <p>The best way to reach me is via e-mail: <b><a href="mailto:kalyons@mit.edu">kalyons@mit.edu</a></b>.</p>
                <p>I am also available on <a href="https://www.linkedin.com/in/kevin-lyons" target="_blank">LinkedIn</a> and <a href="https://github.com/kalyons11" target="_blank">GitHub</a>.</p>
            </div>
        </div>
    </div>
</section>