<header>
    <div class="container" style="padding-bottom:0px;">
        <div class="row">
            <div class="col-lg-5 top-img">
                <img class="img-responsive" src="/summit_kevin.png" alt="" style="max-width:400px; border-radius:35px;">
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <div class="spacer">
                    <br>
                </div>
                <div class="intro-text">
                    <span class="name">Kevin Lyons</span>
                    <hr class="star-primary">
                    <span class="skills">Software Engineer</span>
                    <br><br>
                    <span class="skills">AI Researcher</span>
                    <br><br>
                    <span class="skills">Community Leader</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="about" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>My name is Kevin Lyons, a graduate student at <a target="_blank" href="http://web.mit.edu">MIT</a> in Cambridge, Massachusetts. I have created this site to highlight my resume of academic, professional, and extracurricular accomplishments. A bit about me:</p>
                <ul>
                    <li><p>Self-motivated, dedicated and intellectually curious student and young professional eager to take advantage of the many opportunities offered in today's tech landscape</p></li>
                    <li><p>Focused on scalable architectures, user-focused web development, data science and machine learning</p></li>
                    <li><p>Strong history of volunteer work with proven leadership skills in community programs</p></li>
                    <li><p>Passionate about learning and making a positive impact on my community</p></li>
                    <li><p>Looking to engage in diversity and inclusion efforts in the tech communtiy</p></li>
                    <li><p>Effective communicator with a proven ability to tell compelling technical stories</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="education" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <h3>Massachusetts Institute of Technology<br>B.S. '20<br>M.Eng. '21</h3>
                <p><i>Cambridge, MA</i></p>
                <ul>
                    <li><p>Currently pursuing MEng, Computer Science, with a focus in Machine Learning and Artificial Intelligence</p></li>
                    <li><p>Working under Peko Hosoi and Christina Chase in the <a href="https://sportslab.mit.edu/" target="_blank">MIT Sports Lab</a></p></li>
                    <li><p>B.S. <a href="https://www.eecs.mit.edu/" target="_blank">Computer Science</a></p></li>
                    <li><p>4.9 undergraduate GPA (5.0 scale)</p></li>
                    <li><p><b>For a list of all technical MIT courses I have taken to date, click <a href="/courses" target="_blank">here</a>.</b></p></li>
                </ul>
            </div>
            <div class="col-lg-2 text-center">
                <img class="img-responsive img-responsive-side" src="/mit.png" alt="">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <h3>Weymouth High School '16</h3>
                <p><i>Weymouth, MA</i></p>
                <ul>
                    <li><p>Valedictorian of 473 Students, 4.9 GPA</p></li>
                    <li><p>National Honor Society Chapter President</p></li>
                    <li><p>Senior captain of:</p></li>
                    <ul>
                        <li><p>Varsity Football</p></li>
                        <li><p>Varsity Basketball</p></li>
                        <li><p>Math Team</p></li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="professional" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="h2-special">Professional</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <!--DraftKings-->
            
            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://careers.draftkings.com/engineering" target="_blank">DraftKings</a></h3>
                <p><i>Boston, MA</i></p>
                <p>Software Engineer (starting July 2021)</p>
                <ul>
                    <li><p>Still determining team placement - more information soon</p></li>
                </ul>
                <p>Software Engineer Intern (June 2020 - August 2020)</p>
                <ul>
                    <li><p>Built full-stack integration with Zendesk that receives 16000+ requests per day from 200+ internal users</p></li>
                    <li><p>Built React-Redux frontend and .NET Core backend for new internal tool to manage all employee permissions that will serve 1500+ users</p></li>
                    <li><p>Wrote tech plan for new application and led meetings with internal company stakeholders for review</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/draftkings.png" alt="Uber" width="120%" style="border-radius: 35px;">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--nference-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/nference.png" alt="nference" width="120%">
            </div>
            <div class="col-lg-7">
                <h3><a href="https://nference.ai" target="_blank">nference</a></h3>
                <p><i>Cambridge, MA</i></p>
                <p>Software Engineer Intern (May 2019 - August 2019)</p>
                <ul>
                    <li><p>Built internal React web application for manual validation of 100K+ textual records</p></li>
                    <li><p>Coordinated application feature requests from 6 internal users in 1-month of production testing</p></li>
                    <li><p>Co-led integration effort with offsite team to connect and migrate 20+ backend MongoDB schemas</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--Uber-->

            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://eng.uber.com" target="_blank">Uber Technologies</a></h3>
                <p><i>San Francisco, CA</i></p>
                <p>Software Engineer Intern (May 2018 - August 2018)</p>
                <ul>
                    <li><p>Built distributed data pipelines on PySpark for batch processing of 300K+ driver trip records</p></li>
                    <li><p>Integrated with machine learning model that achieved > 0.9 AUC in predicting driver behavior and pricing</p></li>
                    <li><p>Updated Cassandra table schemas and Go microservices to fix a bug that affected 50K+ drivers in NYC</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/uber.jpg" alt="Uber" width="95%" style="border-radius: 35px;">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--Patriots-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/patriots.png" alt="Patriots" width="120%">
            </div>
            <div class="col-lg-7">
                <h3><a href="http://patriots.com" target="_blank">New England Patriots</a></h3>
                <p><i>Foxborough, MA</i></p>
                <p>Data Analyst Intern (January 2018 - May 2018)</p>
                <ul>
                    <li><p>Worked with internal personnel to support data-driven analysis efforts</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--MITx-->

            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="http://professional.mit.edu" target="_blank">MIT Professional Education</a></h3>
                <p><i>Cambridge, MA</i></p>
                <p>Teaching Assistant (December 2017 - Present)</p>
                <ul>
                    <li><p>Coordinate coursework for professional-focused <a href="https://mitxpro.mit.edu/courses/course-v1:MITxPRO+DSx+1T2018/about" target="_blank">data science and analytics course</a> with 1,000+ students</p></li>
                    <li><p>Monitor course forum to respond to student questions and troubleshoot technical issues</p></li>
                    <li><p>Assist students with understanding machine learning and data analytics fundamentals</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/mitxpro.png" alt="MITx">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--Philips-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/philips.png" alt="" width="95%">
            </div>
            <div class="col-lg-7">
                <h3><a href="http://www.philips.com/content/corporate/en_AA/research/locations/cambridge-north-america.html" target="_blank">Philips Acute Care Solutions Team</a></h3>
                <p><i>Cambridge, MA</i></p>
                <p>Data Science Intern (May 2017 - August 2017)</p>
                <ul>
                    <li><p>Streamlined data from CSV/XML/DICOM image formats to common HDF5 data structure</p></li>
                    <li><p>Wrote HDF5 data loader in Python for I/O of 20K+ lung nodule crops with preprocessing abstractions</p></li>
                    <li><p>Evaluated deep 2D CNN’s for multi-label lung nodule classification use case</p></li>
                    <li><p>Authored invention disclosure for ML-based clinician support system w/ Mass General Hospital</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--Media Lab-->

            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://www.media.mit.edu/groups/city-science/overview" target="_blank">Changing Places CityScience Research Team</a></h3>
                <p><i>Cambridge, MA</i></p>
                <p>Research Software Engineer (September 2016 - August 2017)</p>
                <ul>
                    <li><p>Assisted Master’s Thesis student seeking improved data-driven city space allocation for architects</p></li>
                    <li><p>Optimized multi-agent Java simulation of 24 hr. real-time to 45 sec. run-time</p></li>
                    <li><p>Generated train and test sets of 10K+ cities for supervised learning with <a href="https://github.com/mitmedialab/CityMatrixSim" target="_blank">JSON + Python data pipeline</a></p></li>
                    <li><p>Utilized linear regression and shallow CNN for traffic volume and solar radiation predictions</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/media.png" alt="">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--WildcatConnect-->


            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/logoTransparent.gif" alt="">
                <a href="https://wildcatconnect.com/download/ios" target="_blank"><img class="img-responsive img-responsive-side" src="/appStore.png" alt=""></a>
            </div>
            <div class="col-lg-7">
                <h3><a href="https://wildcatconnect.com" target="_blank">Wildcat Connect Mobile Productivity App</a></h3>
                <p><i>Weymouth, MA</i></p>
                <p>Co-Founder and Lead Developer (Summer 2015 - May 2018)</p>
                <ul>
                    <li><p>Co-founded productivity app for Weymouth HS, winner of 2016 #1 Senior Project Award</p></li>
                    <li><p>Integrated push notifications of key events, alerts and custom class groups for students and faculty</p></li>
                    <li><p>Built AWS-hosted Express Node.js server with tiered user levels and 2-factor e-mail authentication</p></li>
                    <li><p>Maintained for 3+ academic years with 8,000+ downloads</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--LifeYield-->


            <div class="col-lg-7 col-lg-offset-2">
                <h3><a href="https://www.lifeyield.com" target="_blank">LifeYield, LLC</a></h3>
                <p><i>Boston, MA</i></p>
                <p>Full Stack Software Engineer Intern (Summer 2015 and 2016)</p>
                <ul>
                    <li><p>Optimized all web service calls by 40% via improved XML serialization in C# backend</p></li>
                    <li><p>Wrote and deployed log monitor in C# to connect cloud computing environment with Splunk + SQL</p></li>
                    <li><p>Integrated load-balanced caching and distributed locking mechanism across replicated web instances</p></li>
                    <li><p>Implemented front end enhancements and bug fixes for improved user interface, while keeping MVC structure intact</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/ly.png" alt="">
            </div>
        </div>
    </div>
</section>

<section id="leadership" style="padding-bottom:0px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Leadership</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">

            <!--GEL-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/gel.png" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7">
                <h3><a target="_blank" href="https://gelp.mit.edu">Gordon-MIT Engineering Leadership Program</a></h3>
                <p><i>Gordon Engineering Leader, Student Leader (September 2018 - June 2020)</i></p>
                <ul>
                    <li><p>Developed leadership, teamwork and communication skills in selective program for engineering undergrads</p></li>
                    <li><p>Engage in scenario-based practice of professional skills for industry contexts</p></li>
                    <li><p>Led team of 5 juniors to develop their own leadership skills in lab-based setting</p></li>
                    <li><p>Served as Program Student Leader from January - June 2020, managing over 130 students and 10 staff through the uncertainty of COVID-19 to still deliver a valuable leadership program</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--Sports Summit-->

            <div class="col-lg-7 col-lg-offset-2">
                <h3><a target="_blank" href="https://sportssummit.mit.edu">MIT Sports Summit</a></h3>
                <p><i>Co-Lead (September 2019 - January 2020), Website Lead (January 2021)</i></p>
                <ul>
                    <li><p>Responsible for success of the <a href="https://mitsportssummitfall2019.weebly.com/" target="_blank">2019 summit</a>, coordinating students and faculty</p></li>
                    <li><p>Managed 12+ high level industry guests from around sport to attend conference</p></li>
                    <li><p>Coordinated across teams spanning logisitcs, marketing, promotions, outreach, and finance</p></li>
                    <li><p>Built out content and structure for latest version of website with custom MIT subdomain</p></li>
                    <li><p>Returned to support efforts for 2021 summit, managing all website content and logistics</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/summit19.jpeg" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--Football-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/football.png" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7">
                <h3><a target="_blank" href="https://www.mitathletics.com/sports/m-footbl/2019-20/bios/lyons_kevin_hlny">MIT Varsity Football</a></h3>
                <p><i>Linebacker/Special Teams Player (August 2016 - December 2019)</i></p>
                <ul>
                    <li><p>Selected to <a href="http://www.newmacsports.com/sports/fball/2017-18/releases/20171108rnm7m5" target="_blank">2017</a>, <a href="https://www.newmacsports.com/sports/fball/2018-19/releases/20181108fsga0z" target="_blank">2018</a> and <a href="https://www.newmacsports.com/sports/fball/2019-20/releases/2019111309eday" target="_blank">2019</a> NEWMAC Academic All-Conference Teams</p></li>
                    <li><p>Previously served on Player’s Council to lead team activities and offseason operations</p></li>
                </ul>
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>

            <!--LTI-->

            <div class="col-lg-7 col-lg-offset-2">
                <h3><a target="_blank" href="http://lti.mit.edu">MIT Leadership Training Institute</a></h3>
                <p><i>Project Mentor for High School Students (September 2016 - May 2019)</i></p>
                <ul>
                    <li><p>Participated in the same program when I was in high school</p></li>
                    <li><p>Created community service initiaive in my town - computer science mentorship program for students in grades 3-8 in Spring 2015</p></li>
                    <li><p>Selected to <a href="https://www.youtube.com/watch?v=odsx77Tl4ow" target="_blank">present my findings</a> on campus</p></li>
                    <li><p>Invited back to <a href="https://www.youtube.com/watch?v=Qv4GwrO1Vo0" target="_blank">speak about the program</a> after MIT acceptance</p></li>
                </ul>
            </div>
            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/lti.png" alt="" style="border-radius:35px;">
            </div>
            <div class="col-lg-7 col-lg-offset-2">
                <br><br>
            </div>
            <div class="col-lg-2 spacer">
                <br><br>
            </div>

            <!--DKE-->

            <div class="col-lg-2">
                <img class="img-responsive img-responsive-side" src="/dke.png" alt="">
            </div>
            <div class="col-lg-7">
                <h3><a target="_blank" href="https://www.dke.mit.edu">Delta Kappa Epsilon Fraternity</a></h3>
                <p><i>November 2016 - June 2020</i></p>
                <ul>
                    <li><p>Served as Chapter Vice President and Webmaster</li></p>
                    <li><p>Coordinated relationships with MIT, <a href="https://www.mitifc.com/">MIT IFC</a> and other MIT groups</li></p>
                    <li><p>Previously served as Chapter Community Service Chair, January - May 2017</p></li>
                    <li><p>Was responsible for coordinating events for charitable service in the greater MIT community and beyond</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Resume and Contact</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Resume</h3>
                <p>You can access a copy of my latest resume <a target="_blank" href="/resume.pdf">here</a>.<p>
                <h3>Contact</h3>
                <p>The best way to reach me is via e-mail: <b><a href="mailto:kalyons@mit.edu">kalyons@mit.edu</a></b>.</p>
                <p>I am also available on <a href="https://www.linkedin.com/in/kevin-lyons" target="_blank">LinkedIn</a> and <a href="https://github.com/kalyons11" target="_blank">GitHub</a>.</p>
            </div>
        </div>
    </div>
</section>
