<hr class="phone-only">
<p><b>Kevin Lyons</b></p>
<p>Computer Science Major</p>
<p>Student-Athlete</p>
<p>Massachusetts Institute of Technology</p>
<p>Class of 2020</p>
<hr>
<p>152 Carolyn Road<br>
Weymouth, MA 02190<br><br>
(781) 812-5423<br><br>
<a href="mailto:kalyons@mit.edu">kalyons@mit.edu</a></p>
<hr>
<a href="/resume.pdf" target="_blank">Resume</a><br>
<a href="http://www.hudl.com/athlete/5194926/highlights/248536377/v2" target="_blank">Athletic Highlights</a><br>
<hr>
<img id="mitpic" src="/mit.png" 
	alt="App Store Picture" border="0" width="150" style="display:block; margin:0 auto; PADDING-BOTTOM: 10px;"
	/>