<hr class="phone-only">
<p><b>Kevin Lyons</b></p>
<p>Computer Science Major</p>
<p>Student-Athlete</p>
<p>Massachusetts Institute of Technology</p>
<p>Class of 2020</p>
<a href="mailto:kalyons@mit.edu">kalyons@mit.edu</a></p>
<hr>
<div style="text-align: center;">
    <a id="resume_click" href="/resume.pdf" target="_blank">Resume</a><br>
</div>
<div class="desktop-only">
    <br>
    <div class="centered">
        <a href="https://twitter.com/kevinlyons11" target="_blank"><img src="/twitter.png" alt="Twitter Picture" width="38px" style="padding-bottom:10px;"></a>
        <a href="https://github.com/kalyons11" target="_blank"><img src="/github.png" alt="GitHub Picture" width="32px" style="padding-bottom:10px;"></a>
        <a href="https://www.linkedin.com/in/kevin-lyons" target="_blank"><img src="/linkedin.png" alt="LinkedIn Picture" width="32px" style="padding-bottom:10px;"></a>
        <a href="https://www.facebook.com/kevin.lyons11" target="_blank"><img src="/facebook.png" alt="Faceboook Picture" width="38px" style="padding-bottom:10px;"></a>
    </div>
</div>
<hr>
<div style="text-align: center;">
    <img id="mitpic" src="/mit.png" alt="MIT" border="0" width="100" style="display:block; margin:auto;"/>
</div>