<div class="row">
	<div class="logo">
		<a>
			<img id="mainpic" src="/School Picture.jpg" class="full-image" alt="Photo of Kevin Lyons" border="0" width="175px" style="PADDING-BOTTOM: 15px; float:left;"/>
		</a>
	</div>
	<div id="topParagraph" class="span7" style="padding-left:10px;">
		<p>My name is Kevin Lyons, a member of the Class of 2020 at MIT in Cambridge, Massachusetts. I have created this site to highlight my resume of professional, academic and extracurricular accomplishments. A bit about me...</p>
		<ul>
			<li><p>Self-motivated, dedicated and intellectually curious student, athlete, volunteer and young professional eager to take advantage of the many opportunities offered in higher education</p></li>
			<li><p>Intended focus is computer science, specifically in software development and applied science</p></li>
			<li><p>Strong history of volunteer work with proven leadership skills in high school and community programs</p></li>
			<li><p>Passionate about learning and making a positive impact on my community</p></li>
		</ul>
	</div>
</div>