@media only screen and (max-device-width: 767px) {
    .img-responsive-side, .spacer {
        display: none;
    }
    .top-img {
        padding-bottom: 30px;
    }
    .h2-special {
        font-size: 36px;
    }
}

.img-responsive {
    max-width: 200px;
    padding: 20px;
    margin: auto;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}