@media only screen and (max-device-width: 480px) {
	.navbar-fixed-top
	{
		position: relative;
		top: auto;
	}
    #page-content {
        position: relative;
        padding-top: 70px;
        left: 0;
    }

    ul .custom-ul-github {
        list-style-image: url('github.png');
    }

	.footer-distributed, .phone-only {
		display: block;
	}

	.col-sm-8, #rightColumn {
		width: 100%;
	}

    main {
        padding-top: 50px;
    }

	#stickyNav {
		min-height: 75px;
	}

	#topParagraph {
		padding-top: 30px;
	}

	.desktop-only {
		display: none;;
	}

    .full-image {
        max-width: 100%;
        width: auto;
    }

	#mitpic {
		width: 35%;
	}
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (min-device-width: 481px) {

    #mainpic {
        padding-right: 30px;
        width: 230px;
    }

    body {
        padding-top: 50px;
        font-size: 10em;
        background-color: #FAFAFA;
    }

	#rightColumn {
		width: 30%;
	}
	.phone-only {
		display: none;
	}
	.desktop-only {
		display: block;
	}
}

#stickyNav {
    background-color: #333333;
    border-color: #333333;
}

#stickyNav a {
	color: #FFFFFF;
}

.row {
	padding-top: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

table, tr, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
}

.left{
text-align:left;
float:left;
}
.right{
float:right;
text-align:right;
}
.centered{
text-align:center;
}

body {
	font-size: 10em;
	background-color: #FAFAFA;
}
p {
	margin: 0 0 8px;
}
body a {
	color: #0aaf1e;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
}
a:hover {
	color: orange;
	text-decoration: none;
}
a:focus {
	outline: thin dotted;
}
a:active {
	outline: 0;
}
td {
	padding-right: 00px;
	padding-bottom: 0px;
}
.smaller {
	font-size: 0.9em;
}
.easylink {
	color: black;
	font-family: "Source Sans Pro", sans-serif;
}
.name {
	font-size: 1.5em;
}
.navbar {
	line-height: 2em;
}
.navbar-inner {
	background-color: #eee;
	background-image: none;
	background-repeat: no-repeat;
	filter: none;
}
#toTop {
	padding: 1px 3px;
	position: fixed;
	right: 5px;
	display: none;
}
#experiences {
	top:0;
	position: static;
}
#achievements {
	top:0;
	position: static;
}
#skills {
	top: 0;
	position: static;
}

.column { 
    float: left;
    margin: 0;
    padding: 0;
    width: 33.333%;
}

.mainbody {
	padding-top: 2em;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.2em;
	color: black;
}

h1 {
	margin-bottom: -25px;
}
h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	padding-top: 10px;
	margin: 8px 0;
}
.section-header {
	font-family: 'Rockwell Extra Bold';
}

.navbar .brand {
	font-family: 'Source Sans Pro', sans-serif;
	color: white; /*#ffb22a;*/
	text-shadow: none;/*0 1px 0 #cab89c;*/
}
.thumbnail{display:block;line-height:1;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:0 1px 1px rgba(0,0,0,0.075);box-shadow:0 1px 1px rgba(0,0,0,0.075);padding:4px}a.thumbnail:hover{-webkit-box-shadow:0 1px 4px rgba(0,105,214,0.25);-moz-box-shadow:0 1px 4px rgba(0,105,214,0.25);box-shadow:0 1px 4px rgba(0,105,214,0.25);border-color:#0088cc}.thumbnail > img{display:block;margin-left:auto;margin-right:auto}

@font-face { font-family: Rockwell Extra Bold; src: /Rockwell_Extra_Bold.otf }

/* adjust body when menu is open */
body.slide-active {
    overflow-x: hidden
}
/*first child of #page-content so it doesn't shift around*/
.no-margin-top {
    margin-top: 0px!important
}
/*wrap the entire page content but not nav inside this div if not a fixed top, don't add any top padding */
#page-content.slide-active {
    padding-top: 0
}
/* put toggle bars on the left :: not using button */
#slide-nav .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    float: left;
    margin: 0;
    width: 30px;
    height: 40px;
    padding: 10px 0 0 0;
    border: 0;
    background: transparent;
}
/* icon bar prettyup - optional */
#slide-nav .navbar-toggle > .icon-bar {
    width: 100%;
    display: block;
    height: 3px;
    margin: 5px 0 0 0;
}
#slide-nav .navbar-toggle.slide-active .icon-bar {
    background: orange
}
.navbar-header {
    position: relative
}
/* un fix the navbar when active so that all the menu items are accessible */
.navbar.navbar-fixed-top.slide-active {
    position: relative
}
/* screw writing importants and shit, just stick it in max width since these classes are not shared between sizes */
@media (max-width:767px) {
    #slide-nav .container {
        margin: 0;
        padding: 0!important;
    }
    #slide-nav .navbar-header {
        margin: 0 auto;
        padding: 0 15px;
    }
    #slide-nav .navbar.slide-active {
        position: absolute;
        width: 80%;
        top: -1px;
        z-index: 1000;
    }
    #slide-nav #slidemenu {
        background: #f7f7f7;
        left: -100%;
        width: 80%;
        min-width: 0;
        position: absolute;
        padding-left: 0;
        z-index: 2;
        top: -8px;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav {
        min-width: 0;
        width: 100%;
        margin: 0;
    }
    #slide-nav #slidemenu .navbar-nav .dropdown-menu li a {
        min-width: 0;
        width: 80%;
        white-space: normal;
    }
    #slide-nav {
        border-top: 0
    }
    #slide-nav.navbar-inverse #slidemenu {
        background: #eeeeee;
    }
    /* this is behind the navigation but the navigation is not inside it so that the navigation is accessible and scrolls*/
    #slide-nav #navbar-height-col {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
        left: -80%;
        background: #eee;
    }
    #slide-nav.navbar-inverse #navbar-height-col {
        background: #eeeeee;
        z-index: 1;
        border: 0;
    }

    .navbar-inverse {
        background-color: #eeeeee !important;
        border-color: #eeeeee !important;
    }
    #slide-nav .navbar-form {
        width: 100%;
        margin: 8px 0;
        text-align: center;
        overflow: hidden;
        /*fast clearfixer*/
    }
    #slide-nav .navbar-form .form-control {
        text-align: center
    }
    #slide-nav .navbar-form .btn {
        width: 100%
    }
}
@media (min-width:768px) {
    #page-content {
        left: 0!important
    }
    .navbar.navbar-fixed-top.slide-active {
        position: fixed
    }
    .navbar-header {
        left: 0!important
    }
}
