<html lang="en">

    <% include ../partials/head %>

    <body id="page-top" class="index">

        <section id="courses">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Courses</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <p>Here I have provided a list of all relevant computer science and business courses at MIT that I have taken to date, up to and including the current semester (Spring 2021). You will also find a short description of each course and any relevant links. Once you are done, feel free to go back to my <a href="/">homepage</a>.</p>
                        <br>
                        <p>Use the links below to quickly jump to specific courses:</p>
                        <p><a href="#6.01">6.01</a> | <a href="#6.004">6.004</a> | <a href="#6.006">6.006</a> | <a href="#6.009">6.009</a> | <a href="#6.031">6.031</a> | <a href="#6.033">6.033</a> | <a href="#6.036">6.036</a> | <a href="#6.042">6.042</a> | <a href="#6.046">6.046</a> | <a href="#6.179">6.179</a> | <a href="#6.s097">6.S097</a> | <a href="#6.804">6.804</a> | <a href="#6.857">6.857</a> | <a href="#6.859">6.859</a> | <a href="#6.877">6.877</a> | <a href="#6.881">6.881</a> | <a href="#6.uat">6.UAT</a></p>
                        <p><a href="#15.053">15.053</a></p>
                        <p><a href="#2.98">2.98</a></p>
                        <hr>
                        <b><p>Spring 2021</p></b>
                        <ul>
                            <li id="6.859"><p><a href="http://vis.mit.edu/classes/6.859/" target="_blank">6.859</a>: Interactive Data Visualzation</p></li>
                            <ul>
                                <li><p>This course provides a thorough look at effective strategies for interactive data visualization, which is increasingly critical in today's world whre data is everywhere. Fundamental concepts including visual encoding channels, effective visualization de-cluttering strategies, and common software packages are covered. Advanced topics include animation, mapping and cartography, exploratory data analysis, and narrative visualization. I completed two key visualization projects at the end of this course: a <a href="https://6859-sp21.github.io/a4-video-game-sales/" target="_blank">video game sales interactive visualization</a>, and a <a href="https://6859-sp21.github.io/final-project-kindness-tracker/" target="_blank">kindness tracking appplication</a> with real production data from users. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.859&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Fall 2020</p></b>
                        <ul>
                            <li id="6.877"><p><a href="http://student.mit.edu/catalog/search.cgi?search=6.877&style=verbatim" target="_blank">6.877</a>: Principles of Autonomy and Decision Making</p></li>
                            <ul>
                                <li><p>This course provides a rigorous overview of key algorithms, methods and approaches for autonomy and decision making. Topics include a variety of search techniques, Hidden Markov Models, Bayesian inference, temporal networks, path planning, linear, non-linear and convex optimization, and constraint programming. I will release more information soon about the final projet I completed, where I worked with a team to flesh out the details of conflict-directed A* search and its applications to component diagnosis of any logical tree gate model. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.877&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.881"><p><a href="http://manipulation.csail.mit.edu/Fall2020/" target="_blank">6.881</a>: Robotic Manipulation: Perception, Planning, and Control</p></li>
                            <ul>
                                <li><p>This course provides a rigorous overview of key concepts in robotic manipulation. Due to the COVID-19 pandemic, this iteration of the course was taught virtually and relied heavily on simulated robotic environments. Key topics included geomtric pose estimation, object detection, pick and place in cluttered scenes, sampling-based motion and task planning, inverse dynamics and kinematics via the Jacobian, optimization-based planning, reinforcement learning, and deep learning for perception. I will release more information soon about the final project I completed, where I worked with a team to implement an optimized sampling-based path planning environment with the Kuka iiwa robot in the PyDrake environment. Read the full course description <a href="https://www.eecs.mit.edu/academics-admissions/academic-information/subject-updates-fall-2020/6881" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Spring 2020</p></b>
                        <ul>
                            <li id="6.857"><p><a href="https://courses.csail.mit.edu/6.857/2020/" target="_blank">6.857</a>: Computer and Network Security</p></li>
                            <ul>
                                <li><p>This course provides a rigorous theortical introduction to key principles of computer and network security, which are increasingly critical in our connected 21st century society. Key topics include signature verification, secure hashing schemes, two-factor authentication, public and private key cryptography, cryptocurrencies, secure electronic voting (what timing!), and secret sharing. I will release more information soon about the final project I completed, where I worked with a team to design a cryptographically secure sports betting platform. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.857&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Fall 2019</p></b>
                        <ul>
                            <li id="2.98"><p><a href="http://student.mit.edu/catalog/search.cgi?search=2.98&style=verbatim" target="_blank">2.98</a>: Sports Technology: Engineering & Innovation</p></li>
                            <ul>
                                <li><p>This course provides a rigorous and applied introduction to the field of technology and sport. It includes technical lectures provided by guest lectures and course instructors, as well as a semester-long hands-on project where students work in groups to deliver a developmental prototype to industry partners. I am becoming increasingly interested in the field of sports analytics and this course serves as a great bridge into that field. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=2.98&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Spring 2019</p></b>
                        <ul>
                            <li id="6.033"><p><a href="http://mit.edu/6.033/www/" target="_blank">6.033</a>: Computer Systems Engineering</p></li>
                            <ul>
                                <li><p>This course provides a high level overview of current approaches to combine the rise of artifical intelligence systems with advances in human cognitive studies. A key objective we looked at was creating a "truly intelligent" AI system, that can learn to learn, learn from few examples and build a complete model of the world around it. Popular strategies inlcuded probabilistic programming, Bayesian inference, one-shot learning and meta-learning. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.804&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.046"><p>6.046: Design and Analysis of Algorithms</p></li>
                            <ul>
                                <li><p>This course provides a high level overview of current approaches to combine the rise of artifical intelligence systems with advances in human cognitive studies. A key objective we looked at was creating a "truly intelligent" AI system, that can learn to learn, learn from few examples and build a complete model of the world around it. Popular strategies inlcuded probabilistic programming, Bayesian inference, one-shot learning and meta-learning. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.804&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Fall 2018</p></b>
                        <ul>
                            <li id="6.804"><p><a href="https://cbmm.mit.edu/education/courses/computational-cognitive-science" target="_blank">6.804</a>: Computational Cognitive Science</p></li>
                            <ul>
                                <li><p>This course provides a high level overview of current approaches to combine the rise of artifical intelligence systems with advances in human cognitive studies. A key objective we looked at was creating a "truly intelligent" AI system, that can learn to learn, learn from few examples and build a complete model of the world around it. Popular strategies inlcuded probabilistic programming, Bayesian inference, one-shot learning and meta-learning. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.804&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Spring 2018</p></b>
                        <ul>
                            <li id="6.031"><p><a href="http://web.mit.edu/6.031" target="_blank">6.031</a>: Elements of Software Construction</p></li>
                            <ul>
                                <li><p>This course provides a key overview of good programming concepts when building larger software systems. It has three main principles
                                        that guide all material: writing code that is:</p>
                                    <ul>
                                        <li><p><b>safe from bugs</b>,</p></li>
                                        <li><p><b>ready for change</b> and </p></li>
                                        <li><p><b>easy to understand</b>.</p></li>
                                    </ul>
                                        <p>The course is based on the Java language, but generally applies to all statically checked language.
                                        There is an emphasis on test-first programming, version control practices, object-orientated programming and good system design.
                                        Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.031&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.uat"><p><a href="https://courses.csail.mit.edu/6.UAT/info.php" target="_blank">6.UAT</a>: Oral Communication</p></li>
                            <ul>
                                <li><p>This course is a relatively new MIT requirement for computer science majors. As the title suggests, this course
                                        outlines the fundamentals of oral communication and public speaking in a technical setting. We cover effective visual content,
                                        delivery strategy, talk structures and audience appeal strategies.
                                        Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.UAT&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="15.053"><p><a href="http://mit.edu/15.053/www/" target="_blank">15.053</a>: Optimization Methods in Business Analytics</p></li>
                            <ul>
                                <li><p>This course introduces optimization methods with a focus on modeling, solution techniques and analysis. We cover linear programming, network optimization,
                                        integer programming, nonlinear programming, and dynamic programming. There are many applications to logistics, manufacturing, statistics,
                                        machine learning, transportation, game theory, marketing, project management, and finance. The end of the course includes a project in which
                                        student teams select and solve an optimization problem (possibly a large-scale problem) of practical interest.
                                        Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=15.053&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Fall 2017</p></b>
                        <ul>
                            <li id="6.004"><p><a href="https://6004.mit.edu" target="_blank">6.004</a>: Computational Structures</p></li>
                            <ul>
                                <li><p>This course provides a rigorous overview of the full stack of modern computational architecture. We work from basic circuit logic and CMOS gate implementation to increasing levels of abstraction, developing a custom 32-bit ISA, working compiler and ultimately a full working machine. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.004&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.009"><p><a href="https://6009.csail.mit.edu" target="_blank">6.009</a>: Fundamentals of Programming</p></li>
                            <ul>
                                <li><p>This course emphasizes key concepts in software development using the Python programming language. Topics include function defintions, recursive structures and procedures, hashing, smart memory solutions, code modularity, documentation, unit testing, etc. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.009&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.042"><p><a href="https://courses.csail.mit.edu/6.042" target="_blank">6.042</a>: Mathematics for Computer Science</p></li>
                            <ul>
                                <li><p>This course provides a rigorous introduction to core discrete mathematics concepts that are critical to understanding more advanced CS theory. These topics include predicate logic, inductive reasoning, set theory, graph theory, probability, finite state machines, counting and sorting. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.042&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Spring 2017</p></b>
                        <ul>
                            <li id="6.006"><p><a href="https://courses.csail.mit.edu/6.006/fall11" target="_blank">6.006</a>: Introduction to Algorithms</p></li>
                            <ul>
                                <li><p>This course provides a rigorous introduction to core CS algorithms, data structures and design principles. Topics ranging from asympotic complexity analysis, sorting, hashing, search trees, shortest path algorithms and NP completeness theory. This course is also built on an understanding of Python. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.006&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.036"><p><a href="http://courses.csail.mit.edu/6.036/" target="_blank">6.036</a>: Introduction to Machine Learning</p></li>
                            <ul>
                                <li><p>This course provides a rigorous introduction to core machine learning concepts, including both the theory and application of those concepts. Topics include multilabel classification, linear regression, support vector machines, kernelized regression, unsupervised learning, probabilistic modeling, Bayesian networks, Markov decision processes, deep neural networks and general model evaluation techniques. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.036&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p><a href="http://web.mit.edu/iap/" target="_blank">IAP</a> 2017</p></b>
                        <ul>
                            <li id="6.179"><p><a href="https://github.com/kalyons11/6.179-project" target="_blank">6.197</a>: Programming with C and C++</p></li>
                            <ul>
                                <li><p>This course provides a short, condensed overview of the C/C++ programming languages. I learned key concepts here like memory allocation, program compilation, array indexing and pointer arithmetic. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.01&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                            <li id="6.s097"><p><a href="https://github.com/kalyons11/6.s097-project" target="_blank">6.S097</a>: Urban Data Analytics and Machine Learning</p></li>
                            <ul>
                                <li><p>Before taking 6.036, I wanted to get a quick introduction to core ML concepts and apply them to real datasets. This course provided exactly that opportunity. Taught by colleague <a href="https://www.linkedin.com/in/parth-shah-150235b4/" target="_blank">Parth Shah</a>, the course goes over basic regression techniques all the way up to deep learning with imgage data. It culiminated with a final group project, developed in Python on a large urban dataset. View the course website <a href="http://mit.edu/6.S097/www" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                        <b><p>Fall 2016</p></b>
                        <ul>
                            <li id="6.01"><p><a href="http://web.mit.edu/6.01" target="_blank">6.01</a>: Introduction to EECS via Robotics</p></li>
                            <ul>
                                <li><p>This course provides a broad overview of some key subjects in EECS. Its four main modules pertain to systems design, circuit analysis, probabilistic modeling and graph search. This course is directed by <a href="https://adamhartz.com" target="_blank">Adam Hartz</a>, among others, and is built on an understanding of <a href="https://www.python.org/" target="_blank">Python</a>. Read the full course description <a href="http://student.mit.edu/catalog/search.cgi?search=6.01&style=verbatim" target="_blank">here</a>.</p></li>
                            </ul>
                        </ul>
                    </li>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <% include ../partials/scripts %>

</html>
