<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	<main class="wrap">
		<% include ../partials/home-new %>
	</main>
	<% include ../partials/footer %>
</body>
</html>