<html lang="en">

    <% include ../partials/head %>

    <body id="page-top" class="index">

        <% include ../partials/nav %>

        <% include ../partials/mainPage %>

        <% include ../partials/footer %>

    </body>

    <% include ../partials/scripts %>

</html>